.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 768px) {
    @include column($gutter-desktop);
}
@media (max-width: 767px) {
    @include column($gutter-mobile);

    .row{
        display: block;

        .col{
            max-width: 570px;
            width: 100%;
            margin: 0 auto;
        }
    }
}