$font-primary:          'Quicksand', sans-serif;
$font-weight:           400;
$font-size:             14px;
$line-height:           18px;

$color-primary:         #37474F;
$color-secondary:       #EEC536;
$color-tertiary:        #C4C4C4;

$container-width:       1200px;
$container-padding:     15px;

$columns-number: 	    12;
$gutter-desktop:        $container-padding;
$gutter-mobile:         $container-padding;